DATABASE_URL="postgresql://user:password@localhost:5432/ctbg_tresorerie"
NEXTAUTH_SECRET="change-me-minimum-32-chars"
NEXTAUTH_URL="http://localhost:3007"
PORT=3007
SMTP_HOST=ssl0.ovh.net
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=tresorerie@ctbg.fr
DIGEST_SECRET="change-me"
